@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  user-select: none;
}

/* Kích thước scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

/* Nền của scrollbar */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thanh cuộn */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Hover trên thanh cuộn */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button:hover {
  cursor: pointer;
}

/* === MỚI: Thêm hiệu ứng highlight === */
@keyframes flashYellow {
  0% {
    background-color: transparent;
  }

  25% {
    background-color: #fef08a;
    /* yellow-200 */
  }

  75% {
    background-color: #fef08a;
    /* yellow-200 */
  }

  100% {
    background-color: transparent;
  }
}

.flash-yellow {
  animation: flashYellow 1s ease-in-out;
}